@import "tailwindcss";
@import "@heroui/styles";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f0f0f0;
  --foreground: #070709;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth !important;
}

body {
  position: relative;
}

.dark body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/background.webp");
  background-color: rgba(0, 0, 0, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background: rgba(0, 0, 0, 0.5); */
  filter: blur(50px) brightness(0.1);
  transform: scale(1.1); /* evita bordes blancos del blur */
  z-index: -1;
}

.light body::before {
  opacity: 0;
}

.dark {
  --background: #070709;
  --foreground: #fff;
}

@keyframes carousel {
  from { transform: translateX(0); }
  to { transform: translateX(-25%); }
}

@keyframes carousel2 {
  from { transform: translateX(-25%); }
  to { transform: translateX(0); }
}

@utility animate-carousel {
  animation: carousel 20s linear infinite;
  will-change: transform;
}

@utility animate-carousel2 {
  animation: carousel2 20s linear infinite;
  will-change: transform;
}
